{% extends "admin/change_list.html" %}
{% load static %}

{% block result_list %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ total_visits }}</h3>
                    <p>Total de Visitas (Neste Filtro)</p>
                </div>
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ unique_visitors }}</h3>
                    <p>Visitantes Únicos (IPs)</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}